body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

#pokemonDetails {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 20px;
}

p {
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  color: #333;
}

p:nth-child(odd) {
  background-color: #f0f0f0;
}

p:nth-child(even) {
  background-color: #e0e0e0;
}
