* {
  padding: 0;
  margin: 0;
}
.background::before {
  content: "";
  position: absolute;
  background: url("../Images/Background.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}
@media only screen and (max-width: 768px) {
  .background::before {
    height: 200vh;
  }
}
